
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

html,
body *{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  color: rgba(0,0,0, .54);
  background-color: #fff;

  &.fixed {
    overflow: hidden;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint(sm) {
    width: 750px;
  }

  @include breakpoint(md) {
    width: 970px;
  }

  @include breakpoint(lg) {
    width: 1170px;
  }
}
