@-webkit-keyframes canvasbg {
  0% {
    background-position: 64% 30%;
  }
  50% {
    background-position: 37% 100%;
  }
  100% {
    background-position: 64% 40%;
  }
}
@-moz-keyframes canvasbg {
  0% {
    background-position: 64% 30%;
  }
  50% {
    background-position: 37% 100%;
  }
  100% {
    background-position: 64% 40%;
  }
}
@keyframes canvasbg {
  0% {
    background-position: 64% 30%;
  }
  50% {
    background-position: 37% 100%;
  }
  100% {
    background-position: 64% 40%;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #0c0a1a;
  color: #777;
  font-family: arial;
  font-size: 12px;
  overflow: hidden;
}
.hide {
  display: none !important;
}

.screen {
  display: block;
  position: fixed;
  visibility: hidden;
  transition:  .3s;
  // transform: translateY(4%) scale(1.2);
  transform: translateY(4%);
  opacity: 0;
  // filter: blur(2px);

  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;

  &--visible {
    visibility: visible;
    opacity: 1;
    // transform: translateY(0%) scale(1) ;
    transform: translateY(0%) ;
    // filter: blur(0px);
  }
}
