.retro-theme {
    .gameover {
        &-screen {
            background: #18132b;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__gameinfo {

                &__score {

                }

                &__lines {

                }

                &__level {

                }

                &__restart-button {

                }
            }
        }
    }
}