.retro-theme {
  .pause-menu {
    &-screen {
			border: 1em solid #818e87;
      background: #a3b6ac;
			background: linear-gradient(-174deg, #a4b6ad, #788a81);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__title {
        font-size: 2em;
        margin-bottom: 1em;
        color: #000;
      }

      &__option {
        padding: 1.5em 2em;
        width: 100%;

        &__label-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: #000;
            font-size: 1.5em;
            text-transform: capitalize;
            display: flex;
          }

          select {
            font-size: 1.5em;
            padding: 0.3em;
            border: 0.1em solid #111;
            background: #a3b6ac;
          }
        }

        button {
          width: 100%;
          padding: 0.4em;
          border: 0.1em solid #111;
        	background: linear-gradient(-174deg, #a4b6ad, #9faca6);
					box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.25882352941176473);
					border-radius: 6px;
          color: #000;
          font-size: 1.5em;
          margin-bottom: .5em;
        }
      }
    }
  }
}
